doctype html
html
  head
    title Quiz Selection
  body
    h1 Choose a Quiz
    form(action="/start-quiz", method="POST")
      label(for="quiz") Select a Quiz:
      select(name="quiz", id="quiz")
        option(value="unitedStates") United States Quiz
        option(value="europeanHistory") European History Quiz
        option(value="chineseHistory") Chinese History Quiz
      button(type="submit") Start Quiz
